.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  text-align: center;
  margin: 10rem auto;
}

.btn-form {
  width: 100% !important;
  margin: 0.5rem 0 1.2rem 0;
}

.input {
  margin-bottom: 0.8rem;
}

.link {
  text-decoration: underline;
}

@media screen and (min-width: 624px) {
  .form-container {
    padding: 0 8rem;
  }
}

@media screen and (min-width: 1024px) {
  .form-container {
    padding: 0 20rem;
  }
}
