.testimonial-container {
  overflow: hidden;
}

.testimonials {
  background: linear-gradient(
    90deg,
    var(--color-primary-faded),
    var(--color-primary),
    var(--color-primary-faded)
  );
  padding: 3rem 0 2.5rem;
  margin-top: 2.5rem;
  position: relative;
  display: flex;
  width: calc(8 * 18rem);
  gap: 1rem;
  animation: scroll 60s linear infinite;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-9rem * 8));
  }
}

.testimonials:hover {
  animation-play-state: paused;
}
